
{% extends "base.html" %}
{% block content %}

<style>
    .custom-container {
      max-width: 1000px; /* Set your custom width */
      margin: 0 auto;  /* Center it horizontally */
    }
    .colored-banner {
        background-color: rgb(0,21,40);
        background-image: url('/static/cubes.png'), linear-gradient(90deg, rgba(124,21,40,1) 0%, rgba(124,45,89,1) 25%, rgba(4,45,89,1) 48%, rgba(4,45,89,1) 75%, rgba(124,21,40,1) 100%); !important
        background-repeat: repeat;
        background-size: auto;
        background-position: center;
        
    }
    .custom-texture {
        background-color: linear-gradient(90deg, rgba(0,21,40,1) 0%, rgba(4,45,89,1) 25%, rgba(4,45,89,1) 48%, rgba(4,45,89,1) 75%, rgba(0,21,40,1) 100%);
        background-image: url('path-to-your-texture.png'), linear-gradient(90deg, rgba(124,21,40,1) 0%, rgba(124,45,89,1) 25%, rgba(4,45,89,1) 48%, rgba(4,45,89,1) 75%, rgba(124,21,40,1) 100%);; /* Path to your PNG file */
        background-repeat: repeat; /* Repeats the pattern */
        background-size: auto; /* Keeps the original size of the texture */
        background-position: center; /* Centers the pattern */
        background-color: #f5f5f5; /* Fallback background color */
        background-repeat: repeat; /* Repeats the pattern */
        background-size: 100px, 100px; /* Keeps the original size of the texture */
        background-position: center; /* Centers the pattern */
    }

    .black-table {
      background-color: black;
    }

    .black-table table {
      width: 100%;
    }

    .black-table th,
    .black-table td {
      color: white;
      border-color: white;
      background-color: black;
    }
 </style>

  

<div class="hero is-medium is-dark colored-banner">
    <div class="hero-body ">
        <div class="custom-container">
            <div class="columns">
                <div class="column is-1 has-text-centered">
                    <figure class="image is-inline-block">
                        <img src="/static/ChemOrigins-Logo-White.png" width=60%>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-1"> ChemOrigins </h1>
                    
                </div>
            </div>
            <p class="subtitle">
                Welcome to ChemOrigins, a community-based effort to build a database
                for <b>Prebiotic Chemistry</b>. Specifically, we aim to compile experimentally
                tested prebiotic pathways to produce biomolecules or other molecules relevant for
                the <b>Origin of Life</b>.
            </p>
            <div class="field">
        
                <div class="control">
                    <form method="post">
                        {{ form.query(class="input" , placeholder="Search...") }}
                    </form>
                </div>                
            </div>
            <p>
                Our comprehensive database of the current knowledge of
                prebiotic chemistry allows search by either molecule names (e.g. pyruvate)
                SMILES notation (e.g. CC(=O)C(=O)O ), or just the plain identifier (pbm-000032)
            </p>
            
        </div>
        
    </div>

</div>



<div class="custom-container">
    
        
    <div class="section">
        <h1 class="title is-1">FAQ</h1>

        <h2 class="title is-3"> What is prebiotic chemistry?</h2>

        <div class="columns">
            <div class="column">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8da305fe-3d0d-4471-9e6f-8e0479ac0d9a/d2snvkq-a1d20049-fb74-47f3-a6c8-1926639a4f3d.jpg/v1/fill/w_900,h_507,q_75,strp/ancient_earth_by_blamtroid_d2snvkq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvOGRhMzA1ZmUtM2QwZC00NDcxLTllNmYtOGUwNDc5YWMwZDlhXC9kMnNudmtxLWExZDIwMDQ5LWZiNzQtNDdmMy1hNmM4LTE5MjY2MzlhNGYzZC5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.1W7LJS8R4mAZoEhH0frHQFXOHjBsUbXtpudHQG8BCS8" alt="">
            </div>
            <div class="column">
                <p>
                    While the Origin of Life remains a topic of ongoing debate, there is a broad consensus among scientists that life emerged from chemical processes. The key question is: "Which chemical processes?" Prebiotic chemists focus on explaining how complex biomolecules could have arisen from the chemical conditions present on the early Earth, around 3.8 billion years ago.
                </p>
                <br>
                <p>
                    Prebiotic chemistry is a distinctive interdisciplinary field that integrates knowledge from biology, chemistry, and geology. Although the goals are extraordinarily challenging, the field has achieved numerous significant milestones, including the synthesis of nucleosides and amino acids.
                </p>
            </div>
        </div>
        <h2 class="title is-3"> Why ChemOrigins?</h2>
        <div class="columns">
            <div class="column">
                <img src="/static/pexels-pixabay-248152.jpg" alt="">
            </div>
            <div class="column">
                <p>
                    Since the first successful prebiotic chemistry experiments in 1953, researchers have amassed a wealth of knowledge about the conditions that could have supported the formation of biomolecules on the early Earth. However, navigating this vast body of knowledge can be challenging, often demanding extensive literature review.
            
                </p>
                <br>
                <p>
                    Scientists in related fields have benefited greatly from comprehensive databases that provide free access to data for both researchers and automated systems. Therefore, we aim to become a vital resource for retrieving information about prebiotic chemistry.
                </p>
            </div>
        </div>


        <h2 class="title is-3"> What can I find here?</h2>
        <div class="columns">
            <div class="column">
                <img src="/static/schema.png" alt="" width=75%>
            </div>
            <div class="column">
                <p>
                    ChemOrigins offers access to a comprehensive knowledge graph focused on prebiotic chemistry. This graph connects molecules with the reactions that produce or consume them, as well as the evidence supporting these reactions. This is achieved through the curation of experimental prebiotic chemistry literature and the analysis of this knowledge using a graph database.
                </p>
                <br>
                <p>
                    With ChemOrigins, you can explore questions such as: "How can alanine be abiotically produced?",
                    "At what temperatures has the synthesis of nucleotides been measured?" or
                    "Which reactions are catalyzed by magnetite?""
                </ul>
                <p>
                    Our goal is to provide answers to these and other complex queries through our database.

                </p>
            </div>
        </div>

    
        <h1 class="title"> How can I contribute?</h1>
    
        <div class="columns">
            <div class="column">
                <img src="/static/philosophy.png" alt="">
            </div>
            <div class="column">
                <p>
                    You can contribute by joining the discussion in the GitHub repository. You can either start new threads in the issues section or fork the repository to annotate new reactions.
                </p>
                
            </div>
        </div>

        <h1 class="title">Who is building the database?</h1>
    
        <div class="columns">
            <div class="column is-2">

                <img src="/static/KacarLab-Logo_Circle-Black.png" alt="" width=60%>
            </div>

            <div class="column is-2">

                <img src="/static/MUSE-Logo_Patch-Black.png" alt="" width=60%>
            </div>
            <div class="column is-2">
                <img src="/static/black-center-UWlogo-print.png" alt="" width=100%>
            </div>
            <div class="column one-third">
                <p>
                    The database was developed and is currently maintained by the Kaçar Lab at the University of Wisconsin-Madison and by Bruno Cuevas-Zuviría at the Universidad Politécnica de Madrid.
                </p>
                
            </div>
        </div>
        
    </div>

    
</div>

<div class="hero is-black">
    <div class="hero-body ">
    <div class="custom-container">
    <h1 class="title">ChemOrigins statistics</h1>
    <div class="black-table">
        <table class="table">
        
        <tr>
            <td>Number of Reactions</td>
            <td>{{ reactions }}</td>
        </tr>
        <tr>
            <td>Number of Molecules</td>
            <td>{{ molecules }}</td>
        </tr>
        <tr>
            <td>Number of Agents</td>
            <td>{{ agents }}</td>
        </tr>
        <tr>
            <td>Number of Conditions</td>
            <td>{{ conditions }}</td>
        </tr>
        <tr>
            <td>Number of Modules</td>
            <td>{{ modules }}</td>
        </tr>
        <tr>
            <td>Number of Sources</td>
            <td>{{ sources }}</td>
        </tr>

        

    </table>
    </div>
    </div>
    </div>
</div>
    



{% endblock %}
